html {
	font-size: 12px;
}
@media (min-width: 576px){#quadro1_menu{border-left: 200px solid transparent;border-top: 100px solid #C3C3C3; }}
@media (min-width: 576px){#painel_contato{display: block;}}
@media (max-width: 576px){#painel_contato{display: none;}}
@media (min-width: 576px){#bloco_menu{height: 100px;background: #C3C3C3; margin-bottom: 100px;}}
@media (max-width: 576px){#bloco_menu{height: 30px;background: #C3C3C3; margin-bottom: 100px;}}
@media (max-width: 576px){#item_menu,#item_menu2{padding-left: 0;}}
@media (max-width: 576px){#img_oQueE,#img_tratamento,#img_objetivos{display: none;}}